.Timer
  margin 1rem 1rem
  color whitesmoke
  font-size 2rem
  font-family 'Open Sans Condensed', sans-serif
  text-align center
  background-color #1F8DD6
  padding 1rem 2rem 6rem 2rem
  width 200px
  height 100px
  img
    height 100px
